homelab/backups-automatizados/n8n/workflow-backup-notifications.json
{
  "name": "Backup Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ],
          "triggerAtHour": 3
        }
      },
      "id": "cron-trigger",
      "name": "Daily Backup Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://kopia-server:51515/api/v1/repo/status",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "check-kopia",
      "name": "Check Kopia Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status }}",
              "value2": "healthy"
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ Backup completado exitosamente\n\n📊 Último snapshot: {{ $json.lastSnapshotTime }}\n💾 Tamaño: {{ $json.stats.totalSize }}"
      },
      "id": "send-success",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "⚠️ ALERTA: Problema con el backup\n\nError: {{ $json.error || 'Estado desconocido' }}"
      },
      "id": "send-error",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Daily Backup Check": {
      "main": [
        [
          {
            "node": "Check Kopia Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Kopia Status": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

