home-assistant/n8n-ollama-automations/workflows/3-optimizacion-energia.json
{
  "name": "Optimización Energética con IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-hourly",
      "name": "Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "domain": "sensor",
        "service": "state",
        "entityId": "sensor.energia_consumo_actual"
      },
      "id": "get-power",
      "name": "Obtener Consumo",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [470, 200],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "domain": "sensor",
        "service": "state",
        "entityId": "sensor.precio_electricidad"
      },
      "id": "get-price",
      "name": "Obtener Precio kWh",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [470, 300],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "domain": "binary_sensor",
        "service": "state",
        "entityId": "binary_sensor.presence_home"
      },
      "id": "get-presence",
      "name": "Detectar Presencia",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [470, 400],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Eres un optimizador energético. Datos actuales: Consumo: {{$node['Obtener Consumo'].json.state}}W, Precio: {{$node['Obtener Precio kWh'].json.state}}€/kWh, Presencia: {{$node['Detectar Presencia'].json.state}}. Analiza y recomienda optimizaciones. Responde SOLO JSON: {\\\"apagar_standby\\\": true/false, \\\"ajustar_calefaccion\\\": true/false, \\\"nueva_temp\\\": numero, \\\"apagar_luces_innecesarias\\\": true/false, \\\"razon\\\": \\\"explicacion\\\", \\\"ahorro_estimado\\\": numero}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "ollama-optimize",
      "name": "IA Optimizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.item.json.response);\nconst recommendation = JSON.parse(response);\n\nreturn {\n  json: recommendation\n};"
      },
      "id": "parse-recommendation",
      "name": "Parsear Recomendación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.apagar_standby}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-standby",
      "name": "¿Apagar standby?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 150]
    },
    {
      "parameters": {
        "domain": "switch",
        "service": "turn_off",
        "entityId": "switch.enchufes_standby"
      },
      "id": "turn-off-standby",
      "name": "Apagar Standby",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [1350, 150],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ajustar_calefaccion}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-heating",
      "name": "¿Ajustar calefacción?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "domain": "climate",
        "service": "set_temperature",
        "entityId": "climate.termostato",
        "serviceAttributes": "={\"temperature\": {{$json.nueva_temp}}}"
      },
      "id": "adjust-heating",
      "name": "Ajustar Temperatura",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [1350, 300],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.apagar_luces_innecesarias}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-lights",
      "name": "¿Apagar luces?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 450]
    },
    {
      "parameters": {
        "domain": "light",
        "service": "turn_off",
        "entityId": "group.luces_automaticas"
      },
      "id": "turn-off-lights",
      "name": "Apagar Luces",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [1350, 450],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    },
    {
      "parameters": {
        "domain": "notify",
        "service": "persistent_notification",
        "serviceAttributes": "={\"title\": \"Optimización Energética\", \"message\": \"{{$json.razon}}. Ahorro estimado: {{$json.ahorro_estimado}}€/día\"}"
      },
      "id": "notify-optimization",
      "name": "Notificar Optimización",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [1570, 300],
      "credentials": {
        "homeAssistantApi": {
          "id": "1",
          "name": "Home Assistant Local"
        }
      }
    }
  ],
  "connections": {
    "Cada Hora": {
      "main": [
        [
          {
            "node": "Obtener Consumo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Precio kWh",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detectar Presencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Consumo": {
      "main": [
        [
          {
            "node": "IA Optimizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Precio kWh": {
      "main": [
        [
          {
            "node": "IA Optimizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Presencia": {
      "main": [
        [
          {
            "node": "IA Optimizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Optimizar": {
      "main": [
        [
          {
            "node": "Parsear Recomendación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Recomendación": {
      "main": [
        [
          {
            "node": "¿Apagar standby?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Ajustar calefacción?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Apagar luces?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Apagar standby?": {
      "main": [
        [
          {
            "node": "Apagar Standby",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Standby": {
      "main": [
        [
          {
            "node": "Notificar Optimización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ajustar calefacción?": {
      "main": [
        [
          {
            "node": "Ajustar Temperatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajustar Temperatura": {
      "main": [
        [
          {
            "node": "Notificar Optimización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Apagar luces?": {
      "main": [
        [
          {
            "node": "Apagar Luces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Luces": {
      "main": [
        [
          {
            "node": "Notificar Optimización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T00:00:00.000Z",
  "versionId": "1"
}
